<form method="post" action="{{ path('user_delete', {'id': user.id}) }}" onsubmit="return confirm('Opravdu chcete kontakt smazat?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn">smazat</button>
</form>
