{% extends 'base.html.twig' %}

{% block title %}Upravit kontakt | {{ user.name }} {{ user.surname }}{% endblock %}

{% block body %}
    <h1>Upravit kontakt</h1>
    <h3><a href="{{ path('user_index') }}"> << zpět </a></h3>

    <div>
    {{ include('user/_form.html.twig', {'button_label': 'upravit'}) }}

    {{ include('user/_delete_form.html.twig') }}
    </div>


{% endblock %}
