{% extends 'base.html.twig' %}

{% block title %}Adresář{% endblock %}

{% block body %}
    <h1>Adresář</h1>

    <table class="table">
        <thead>
        <tr>
            <th>jméno</th>
            <th>příjmení</th>
            <th>telefon</th>
            <th>e-mail</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.surname }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.email }}</td>
                <td>
                    {% if user.note is not null %}
                        <button onclick="showNote('{{ user.note|escape('js') }}')">poznámka</button>
                    {% endif %}
                </td>
                <td>
                    <button onclick="location.href='{{ path('user_show', {'slug': user.slug}) }}'">
                        zobrazit
                    </button>
                    <button onclick="location.href='{{ path('user_edit', {'id': user.id}) }}';">upravit</button>
                </td>
            </tr>

        {% else %}
            <tr>
                <td colspan="7">Adresář je prázdný</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(users) }}

    <button onclick="location.href='{{ path('user_new') }}';">vytvořit kontakt</button>

{% endblock %}
