{% extends 'base.html.twig' %}

{% block title %}Vytvořit kontakt{% endblock %}

{% block body %}
    <h1>Vytvořit kontakt</h1>
    <h3><a href="{{ path('user_index') }}"> << zpět </a></h3>

    {{ include('user/_form.html.twig') }}

{% endblock %}
