{% extends 'base.html.twig' %}

{% block title %}Kontakt | {{ user.name }} {{ user.surname }}{% endblock %}

{% block body %}
    <h1>Kontakt</h1>
    <h3><a href="{{ path('user_index') }}"> << zpět </a></h3>

    <table class="table">
        <tbody>
            <tr>
                <th>id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>jméno</th>
                <td>{{ user.name }}</td>
            </tr>
            <tr>
                <th>příjmení</th>
                <td>{{ user.surname }}</td>
            </tr>
            <tr>
                <th>telefon</th>
                <td>{{ user.phone }}</td>
            </tr>
            <tr>
                <th>e-mail</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>poznámka</th>
                <td>{{ user.note }}</td>
            </tr>
        </tbody>
    </table>

    <button onclick="location.href='{{ path('user_edit', {'id': user.id}) }}';">upravit</button>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
